h1 {
  display: flex;
  justify-content: center;
}

@keyframes animatedBackground {
  to {background-position: 0 -241%;}
}

#background {
  width: inherit;
  height: inherit;
  background-image: url("../images/space4.jpg");
  background-position: 0px 0px;
  background-repeat: repeat-y;
  animation: animatedBackground 15s linear infinite;
}

.game_container {
  position: relative;
  height: 600px;
  width: 600px;
  background-color: gainsboro;
  margin: auto;
}

#rocket {
  /* transform: scale(0.5); */
  position: absolute;
  height: 50px;
  content:url("../images/rocket.png");
}
