h1 {
  display: flex;
  justify-content: center;
}

.game_container {
  height: 600px;
  width: 600px;
  background-color: gainsboro;
  margin: auto;
}

#rocket {
  height: 50px;
  width: 30px;
  /* background-color: black; */
  position: absolute;
  content:url("../images/rocket.png");
}
