h1 {
  display: flex;
  justify-content: center;
}

@keyframes animatedBackground {
  to {background-position: 0 -241%;}
}

#background {
  animation: animatedBackground 15s linear infinite;
  animation-play-state: running;
  background-image: url("../images/space.jpg");
  background-position: 0 0;
  background-repeat: repeat-y;
  height: inherit;
  width: inherit;
}

.game_container {
  display: flex;
  position: relative;
  height: 600px;
  width: 600px;
  margin: auto;
}

#screen_text {
  position: absolute;
  display: flex;
  align-self: center;
  font-size: 100px;
  font-family: sans-serif;
  color: yellow;
  margin-left: 100px;
}


#rocket {
  position: absolute;
  height: 50px;
  content:url("../images/rocket.png");
}

.header {
  display: flex;
  position: absolute;
  justify-content: space-between;
  margin: auto;
}

.footer {
  display: flex;
  align-self: flex-end;
  position: absolute;
  justify-content: space-between;
  margin: auto;
}

#ammo {
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  margin-left: 20px;
}

#level {
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  margin-left: 20px;
}

#earth {
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  margin-left: 20px;
}

#score {
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  margin-left: 20px;
}

#hp {
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  margin-left: 20px;
}

.lazers {
  position: absolute;
  width: auto;
  height: auto;
  content:url("../images/lazer.png");
  transform: rotate(-90deg);
}

.enemy {
  position: absolute;
  width: auto;
  height: auto;
  content:url("../images/Enemy_red.png");
}

.comet {
  position: absolute;
  width: auto;
  height: auto;
  content:url("../images/asteroid.png");
}
